.menu {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  z-index: 3;
  @include easeOut;

  .btn-lines {
    background-color: white;
    margin: 0.2rem;
    width: 28px;
    height: 3px;
  }
  &.close {
    transform: rotate(180deg);
    .btn-lines {
      &:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -5px);
      }
    }
  }
}
nav {
  position: fixed;
  top: 0;

  opacity: 0.9;
  width: 100%;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  .left,
  .right {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    float: left;
    width: 50%;
    overflow: hidden;
    height: 100vh;
  }
  .right {
    a {
      font-size: 1.3rem;
      padding: 2rem 0;
      text-transform: uppercase;
    }
    li {
      list-style-type: none;
    }
    background-color: darken($primary-color, 5);
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
    .nav-item {
      transform: translate3d(600px, 0, 0);
      @include easeOut;
      &.current > a {
        color: $secondary-color;
      }
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .left {
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    background-color: $primary-color;
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .portrait {
      width: 280px;
      height: 280px;
      background: url("../img/portrait.jpeg");
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }
  @for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
      transition-delay: $x * 0.1s;
    }
  }
}
